<?xml version="1.0"?>
<model>
  <name>Wheel Stopper</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Yoonji Lee</name>
    <email>estelle0329@ewha.ac.kr</email>
  </author>
  <description>Parking lot wheel stopper (rubber curb) with yellow reflective stripes.</description>
</model>
