<?xml version="1.0"?>
<model>
  <name>Ego Hatchback</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Yoonji Lee</name>
    <email>estelle0329@ewha.ac.kr</email>
  </author>
  <description>Drivable hatchback with skid steer, LiDAR, and IMU for autonomous parking.</description>
</model>
